<svg style="display: none;">
    <symbol id="cross" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill: none;" />
      <path d="M18.646 6.764a.5.5 0 000-.708l-.702-.702a.5.5 0 00-.708 0L12 10.59 6.764 5.354a.5.5 0 00-.708 0l-.702.702a.5.5 0 000 .708L10.59 12l-5.236 5.236a.5.5 0 000 .708l.702.702a.5.5 0 00.708 0L12 13.41l5.236 5.236a.5.5 0 00.708 0l.702-.702a.5.5 0 000-.708L13.41 12l5.236-5.236z"/>
    </symbol>
    <symbol id="check" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill: none;" />
      <path d="M8.654 16.045l-4.001-4.001a.501.501 0 00-.706-.001l-.773.768a.503.503 0 00-.001.708L8.3 18.646a.5.5 0 00.708 0l11.82-11.82a.5.5 0 000-.708l-.765-.765a.5.5 0 00-.707 0L8.654 16.045z"/>
    </symbol>
    <symbol id="pause" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="10" style="fill:none;" />
      <rect x="8" y="8" width="8" height="8" rx="1" style="fill:none;" />
    </symbol>
    <symbol id="log" viewBox="0 0 24 24">
      <path d="M10,3 a1,1 0 0,1 4,0" style="fill:none;" />
      <rect x="4" y="3" width="16" height="18" rx="1" style="fill:none;" />
      <line x1="6" x2="18" y1="8" y2="8" style="fill:none;" />
      <line x1="6" x2="18" y1="12" y2="12" style="fill:none;" />
      <line x1="6" x2="18" y1="16" y2="16" style="fill:none;" />
    </symbol>
    <symbol id="play" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="10" style="fill:none;" />
      <polygon points="9,8 17,12 9,16" style="fill:none;stroke-linejoin: round;" />
    </symbol>
    <symbol id="revert" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <path d="M13.429,3.5c-4.734,0 -8.572,3.806 -8.572,8.5l-1.643,0c-0.202,0 -0.385,0.122 -0.462,0.31c-0.077,0.187 -0.034,0.402 0.11,0.545c0.819,0.812 2.01,1.993 2.595,2.574c0.195,0.193 0.51,0.193 0.705,0c0.585,-0.581 1.776,-1.762 2.595,-2.574c0.144,-0.143 0.187,-0.358 0.11,-0.545c-0.077,-0.188 -0.26,-0.31 -0.462,-0.31c-0.778,0 -1.643,0 -1.643,0c0,-3.655 2.981,-6.611 6.667,-6.611c3.685,0 6.666,2.956 6.666,6.611c0,3.655 -2.981,6.611 -6.666,6.611c-1.295,0 -2.505,-0.375 -3.533,-1.008c-0.197,-0.125 -0.454,-0.096 -0.619,0.07c-0.19,0.188 -0.441,0.44 -0.652,0.652c-0.105,0.106 -0.158,0.253 -0.143,0.401c0.014,0.149 0.094,0.283 0.218,0.367c1.359,0.884 2.983,1.407 4.729,1.407c4.733,0 8.571,-3.806 8.571,-8.5c0,-4.694 -3.838,-8.5 -8.571,-8.5Z" style="fill-rule:nonzero;"/>
    </symbol>
    <symbol id="home" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <path d="M9.5,20.5c0.133,0 0.26,-0.053 0.354,-0.146c0.093,-0.094 0.146,-0.221 0.146,-0.354c0,-1.441 0,-5.5 0,-5.5l4,0l0,5.5c0,0.133 0.053,0.26 0.146,0.354c0.094,0.093 0.221,0.146 0.354,0.146c0.958,0 3.042,0 4,0c0.133,0 0.26,-0.053 0.354,-0.146c0.093,-0.094 0.146,-0.221 0.146,-0.354c0,-1.751 0,-7.5 0,-7.5l1.697,0c0.207,0 0.393,-0.128 0.467,-0.321c0.074,-0.193 0.021,-0.412 -0.133,-0.551c-2.169,-1.952 -7.334,-6.6 -8.697,-7.827c-0.19,-0.171 -0.478,-0.171 -0.668,0c-1.363,1.227 -6.528,5.875 -8.697,7.827c-0.154,0.139 -0.207,0.358 -0.133,0.551c0.074,0.193 0.26,0.321 0.467,0.321c0.81,0 1.697,0 1.697,0l0,7.5c0,0.133 0.053,0.26 0.146,0.354c0.094,0.093 0.221,0.146 0.354,0.146c0.958,0 3.042,0 4,0Z"
      style="fill:none;"/>
    </symbol>
    <symbol id="plus" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <path d="M21,12.5c0,0.133 -0.053,0.26 -0.146,0.354c-0.094,0.093 -0.221,0.146 -0.354,0.146c-1.751,0 -7.5,0 -7.5,0l0,7.5c0,0.133 -0.053,0.26 -0.146,0.354c-0.094,0.093 -0.221,0.146 -0.354,0.146c-0.305,0 -0.695,0 -1,0c-0.133,0 -0.26,-0.053 -0.354,-0.146c-0.093,-0.094 -0.146,-0.221 -0.146,-0.354c0,-1.751 0,-7.5 0,-7.5l-7.5,0c-0.133,0 -0.26,-0.053 -0.354,-0.146c-0.093,-0.094 -0.146,-0.221 -0.146,-0.354c0,-0.305 0,-0.695 0,-1c0,-0.133 0.053,-0.26 0.146,-0.354c0.094,-0.093 0.221,-0.146 0.354,-0.146c1.751,0 7.5,0 7.5,0l0,-7.5c0,-0.133 0.053,-0.26 0.146,-0.354c0.094,-0.093 0.221,-0.146 0.354,-0.146c0.305,0 0.695,0 1,0c0.133,0 0.26,0.053 0.354,0.146c0.093,0.094 0.146,0.221 0.146,0.354c0,1.751 0,7.5 0,7.5l7.5,0c0.133,0 0.26,0.053 0.354,0.146c0.093,0.094 0.146,0.221 0.146,0.354c0,0.305 0,0.695 0,1Z" style="fill-rule:nonzero;"/>
    </symbol>
    <symbol id="delete" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <path d="M7,18.222c0,0.978 0.771,1.778 1.714,1.778l6.586,0c0.943,0 1.714,-0.8 1.714,-1.778l0,-9.722c0,-0.133 -0.052,-0.26 -0.146,-0.354c-0.094,-0.093 -0.221,-0.146 -0.354,-0.146c-1.709,0 -7.305,0 -9.014,0c-0.133,0 -0.26,0.053 -0.354,0.146c-0.093,0.094 -0.146,0.221 -0.146,0.354c0,2.052 0,9.722 0,9.722Zm11,-12.722c0,-0.133 -0.053,-0.26 -0.146,-0.354c-0.094,-0.093 -0.221,-0.146 -0.354,-0.146c-0.853,0 -2.5,0 -2.5,0c0,0 -0.462,-0.539 -0.707,-0.825c-0.095,-0.111 -0.234,-0.175 -0.38,-0.175c-0.744,0 -3.082,0 -3.826,0c-0.146,0 -0.285,0.064 -0.38,0.175c-0.245,0.286 -0.707,0.825 -0.707,0.825l-2.5,0c-0.133,0 -0.26,0.053 -0.354,0.146c-0.093,0.094 -0.146,0.221 -0.146,0.354c0,0.305 0,0.695 0,1c0,0.133 0.053,0.26 0.146,0.354c0.094,0.093 0.221,0.146 0.354,0.146c1.952,0 9.048,0 11,0c0.133,0 0.26,-0.053 0.354,-0.146c0.093,-0.094 0.146,-0.221 0.146,-0.354c0,-0.305 0,-0.695 0,-1Z" style="fill-rule:nonzero;"/>
    </symbol>
    <symbol id="download" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol id="CTRL" viewBox="0 0 48 24">
      <rect width="48" height="24" style="fill:none;" />
      <path d="m10,4 h28 a8,8,0,0,1,8,8 a8,8,0,0,1,-8,8 h-28 a8,8,0,0,1,-8,-8 a8,8,0,0,1,8,-8" style="fill: none; stroke:#000000; stroke-width: 1px;" />
      <text x="6px" y="17px" style="font-family:'Consolas', monospace;font-size:16.667px;">CTRL</text>
    </symbol>
    <symbol id="backend" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <rect x="2" y="5" width="7" height="7" rx="1" style="fill:none;" />
      <rect x="15" y="12" width="7" height="7" rx="1" style="fill:none;" />
      <path d="M9,9 L15,16" style="fill:none;"/>
    </symbol>
    <symbol id="configuration" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <circle cx="4" cy="5" r="2" style="fill:none;" />
      <line x1="9" x2="20" y1="5" y2="5" style="fill:none;" />
      <circle cx="4" cy="12" r="2" />
      <line x1="9" x2="20" y1="12" y2="12" style="fill:none;" />
      <circle cx="4" cy="19" r="2" style="fill:none;" />
      <line x1="9" x2="20" y1="19" y2="19" style="fill:none;" />
    </symbol>
    <symbol id="frontend" viewBox="0 0 24 24">
      <rect width="24" height="24" style="fill:none;stroke:none;" />
      <rect x="2" y="4" width="20" height="16" rx="1" style="fill:none;" />
      <line x1="2" x2="22" y1="9" y2="9" style="fill:none;" />
      <circle cx="19" cy="6.5" r="0.25" style="fill:none;" />
    </symbol>
    <symbol id="info" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="11" style="fill:none; stroke:#000000; stroke-width: 1px" />
      <rect x="10" y="11" width="4" height="8" style="fill:#000000" />
      <circle cx="12" cy="7" r="2" style="fill:#000000" />
    </symbol>
    <symbol id="create_file" viewBox="0 0 24 24">
      <path d="M13,11L11,11L11,14L8,14L8,16L11,16L11,19L13,19L13,16L16,16L16,14L13,14L13,11ZM14,2L6,2C4.9,2 4,2.9 4,4L4,20C4,21.1 4.89,22 5.99,22L18,22C19.1,22 20,21.1 20,20L20,8L14,2ZM18,20L6,20L6,4L13,4L13,9L18,9L18,20Z" style="fill:#000000" />
    </symbol>
    <symbol id="create_folder" viewBox="0 0 24 24">
      <path d="M20,6L12,6L10,4L4,4C2.89,4 2.01,4.89 2.01,6L2,18C2,19.11 2.89,20 4,20L20,20C21.11,20 22,19.11 22,18L22,8C22,6.89 21.11,6 20,6ZM20,18L4,18L4,6L9.17,6L11.17,8L20,8L20,18ZM12,14L14,14L14,16L16,16L16,14L18,14L18,12L16,12L16,10L14,10L14,12L12,12L12,14Z" style="fill:#000000" />
    </symbol>
</svg>

<router-outlet
*ngIf="this.mWebSocketService.loaded() && this.mWebSocketService.getStatus() == this.mStatus.OPEN"></router-outlet>
<div
*ngIf="!this.mWebSocketService.loaded() || (this.mWebSocketService.getStatus() != this.mStatus.OPEN)"
class="loaderContainer">
  <div>
    <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
    <svg width="96" height="96" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
              <stop stop-color="#000" stop-opacity="0" offset="0%"/>
              <stop stop-color="#000" stop-opacity=".631" offset="63.146%"/>
              <stop stop-color="#000" offset="100%"/>
          </linearGradient>
      </defs>
      <use xlink:href="#logo" style="transform-origin: center; transform: scale(0.5);"></use>
      <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)">
              <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="0.9s"
                      repeatCount="indefinite" />
              </path>
              <circle fill="#000" cx="36" cy="18" r="1">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 18 18"
                      to="360 18 18"
                      dur="0.9s"
                      repeatCount="indefinite" />
              </circle>
          </g>
      </g>
    </svg>
    <p *ngIf="this.mWebSocketService.getStatus() == this.mStatus.CONNECTING">CONNECTING</p>
    <p *ngIf="this.mWebSocketService.getStatus() == this.mStatus.CLOSING">CLOSING</p>
    <p *ngIf="this.mWebSocketService.getStatus() == this.mStatus.CLOSED">CLOSED</p>
  </div>
</div>
<div
id="infobox">
  <div
  *ngIf="this.mShowInfoBox && this.mInfoBoxService.mHasFocus"
  id="infocontent">
    <table
    *ngIf="this.mInfoBoxService.mText == 'workspace'">
        <tr><td><label>Add Node</label></td><td>:</td><td><label><b>2x Left Mouse</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'node'">
        <tr><td><label>Delete</label></td><td>:</td><td><label><b>CTRL + D</b></label></td></tr>
        <tr><td><label>Edit</label></td><td>:</td><td><label><b>E</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'port'">
        <tr><td><label>Connect</label></td><td>:</td><td><label><b>Left Mouse</b></label></td></tr>
        <tr><td><label>Delete</label></td><td>:</td><td><label><b>CTRL + D</b></label></td></tr>
        <tr><td><label>Edit</label></td><td>:</td><td><label><b>E</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'channel'">
        <tr><td><label>Delete</label></td><td>:</td><td><label><b>CTRL + D</b></label></td></tr>
        <tr><td><label>Edit</label></td><td>:</td><td><label><b>E</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'frontend-file'">
        <tr><td><label>Save</label></td><td>:</td><td><label><b>CTRL + S</b></label></td></tr>
        <tr><td><label>Reload</label></td><td>:</td><td><label><b>CTRL + R</b></label></td></tr>
        <tr><td><label>Delete</label></td><td>:</td><td><label><b>CTRL + D</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'frontend-folder'">
        <tr><td><label>Delete</label></td><td>:</td><td><label><b>CTRL + D</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'configurationComponent'">
      <tr><td><label>Delete</label></td><td>:</td><td><label><b>CTRL + D</b></label></td></tr>
      <tr><td><label>Save</label></td><td>:</td><td><label><b>CTRL + S</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'configurationSettings'">
      <tr><td><label>Save</label></td><td>:</td><td><label><b>CTRL + S</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'dialogScript'">
      <tr><td><label>Close</label></td><td>:</td><td><label><b>ESC</b></label></td></tr>
      <tr><td><label>Save</label></td><td>:</td><td><label><b>CTRL + S</b></label></td></tr>
      <tr><td><label>Reload</label></td><td>:</td><td><label><b>CTRL + R</b></label></td></tr>
    </table>
    <table
    *ngIf="this.mInfoBoxService.mText == 'indexProject'">
      <tr><td><label style="float: right;">Delete</label></td><td>:</td><td><label><b>CTRL + D</b></label></td></tr>
    </table>
    <p
    *ngIf="this.mInfoBoxService.mText == 'empty'">&nbsp;</p>
  </div>
  <div
  *ngIf="this.mShowInfoBox && !this.mInfoBoxService.mHasFocus">
    <p>
      Click into the window to reset the focus.
    </p>
  </div>
  <icon
  name="info"
  (click)="this.mShowInfoBox = !this.mShowInfoBox"></icon>
</div>