@import '../general_dialog.component.scss';
@import "src/color.scss";


:host > form {
    width: calc(100vw - 20px);
    max-width: 960px;
    max-height: calc(100vh - 20px);
    user-select: none;


    & > main {
        padding: 10px;
        overflow-y: auto;
        
        
        & > mat-form-field {
            width: 320px;
        }


        & > div {
            display: grid;
            grid-template-columns: repeat(auto-fill, 220px);
            grid-gap: 10px;
            justify-content: space-evenly;


            & > article {
                border-radius: 3px;
                padding: 6px;
                overflow: hidden;
                background-color: #ffffff;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid #ffffff;
    
    
                &:hover {
                    color: $accent;
                    fill: $accent;
                    border: 1px solid $accent;
                }
    
    
                &.selected {
                    background-color: $accent;
                    color: white;
                    border: 1px solid $accent;
                }
            }
        }
    }   
}