<header>
    <label>Unsaved Changes</label>
    <div>
        <button
        class="designed night light primary"
        type="submit"
        (click)="this.mDialogRef.closeSimple(true)">
            <icon name="check"></icon>
        </button>
        <button
        class="designed night light destroy"
        (click)="this.mDialogRef.closeSimple(false)"
        type="button">
            <icon name="cross"></icon>
        </button>
    </div>
</header>
<main>
    <p>If you continue you will lose your changes!</p>
</main>