$primary: #424242;
$primary_dark: #1b1b1b;
$primary_light: #6d6d6d;
$primary_lighter: #eceff1;
$accent: #1976d2;
$accent_dark: #004ba0;
$accent_light: #63a4ff;
$destroy: #e4545c;
$destroy_dark: #cf434a;